# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
# docs/

# Dotenv file
.env

.mcp.json

CLAUDE.md
notes.md

/Provable/mcp
/SEOsolver

TECH_STACK.md
/Provable/BOTTOM_NAVBAR_GUIDE.md
/Provable/DARK_NAVBAR_GUIDE.md

.cursor/rules/appdesignrules.mdc
.cursor/rules/reactnativedevelopmentrules.mdc

/AIs/
src/Example/

# macOS system files
.DS_Store
**/.DS_Store

# Node modules
node_modules/

broadcast/

DEPLOYMENT_GUIDE.md

Provable/Mocks

.vscode/